.login-form {
    width:100%;
    height: 100%;
    max-width:500px;
    margin:$sm auto auto;
    padding: 30px;
    background-color:white;
    border: 2px solid green;
}


.start{
    margin-top: 10px;
.start_try {
    background-color: green;
    color : white;
    display: block;
    border-radius: 3px;
    padding: 10px;
}
}