.instruction {
    
    border: 5px solid darken($color: $off-white, $amount: 10% );
    border-radius:5px;
    margin: $xlg auto auto;
    padding: $lg  $lg;
    text-align: justify;
    color : $off-black;
    
    .sub {
      border-radius: 10px;
      background-color: lightgrey;
      margin: 3px;;
    
    }
 
 
    @media only screen and (max-width: 600px) {
         .h1{
            color : $off-black;
            text-align: center;
            font-size: xx-large;
          
        }
      }
  
}