.head{
    background-color:white;
    margin:$sm auto auto;
    border: 2px solid green;

    table,th,td{
        border: 1px solid black;
      }
      tr:nth-child(even) {
        background-color: $off-white}
  h1{
      color: green;
      text-align:center;
  }

    .stats{
        max-width: 100%;
        padding:$sm $md;
        color: black;
        font-size: $normal;

        h4, h2 {
            text-align: center;
        }
    }
    
    .pagebutton{
        display: flex;
        justify-content: space-between;
        margin: $sm auto auto;
        width:100%;
        button{
            cursor: pointer;
            padding: $xs $sm;
            transition: 0.3s linear all }

        }
   
}
